.card {
    height: 100%; /* Establece una altura fija para las tarjetas */
}

.informacion{
    display: inline;
}

.nav-nombre {
    color: white;
    font-family: Concert One;
    font-size: 35px;
}


.card-img-top {
    /* Estilos para la imagen */
    width: 100%; /* Ancho al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}


.button-container {
    display: flex;
}

.horizontal-button {
    padding: 10px 20px;
    border: none;
    background-color:  #AF936D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.horizontal-button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.horizontal-button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.horizontal-button:not(:last-child) {
    border-right: 1px solid #ccc;
}
