@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
/* probando */

body {
  background-image: url('https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUwmsKg4oBH0MBn8ndSYMXT%2BlTU%2F4VHP65qSIea1k3xr9FqSqibI2Alk%2BNTuLIYRQFFPcUG3%2B526GQpYqX7eY8EMiT7WzytD65ieer7Yui2ccqwzAaK3va29GOGNCtA9Iu2mXt6XposJ7MaxiUW0hSEI5HyCLvEFwkEywQ9%2FqUvir9t8tZld9WRrJx08Bw8fGYB%2Bua31lwlT0Hm84BMR0GQpVXJyp0ZGrz27sAB5rvCK8mQ0cJWD3geSthhFArkNwc3Wxp4uKPDHigHpdtu6oXmGo5H5AmHcr%2F2MwR2HGM6n2dm9a%2F9j5KjB5D%2FKvtUX4lDgRYGwOY3igcSP2ahCb1s7EacEqkd%2BXXB7vbFqIKi532uYtTT5BkM6qG2EeLR97JIv0NgL4e2M1kMuHoHL5JnvD%2FJm3UQwP9POoaICpTNtc3lNfser0AaBerbjc6HiH1qnDwaEHSxEhTnzx%2F6zSKdU%2B18qhfAOoMo0LeDbk0Y%2Ba2L15E90hN4bgnH%2BRktX1OumH%2FfZaPf9EmXrtkk6cC9W2Vsi1jyADb%2F9k%2BOBql40JJdhbTJ%2FMPBh52%2F2oRbGA%3D%3D&sz=w512-k');
  background-size: cover; 
  background-repeat: no-repeat; 
}


.informacion{
    display: inline;
}
.nav-nombre {
  color: white;
  font-family: Concert One;
  font-size: 35px;
  font-family: Concert One;
}
.button-container{
  display: flex ;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  border-radius: 20px;
  font-family: Concert One;
  }
.horizontal-button {
  padding: 10px 20px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  background-color: #f0f0f0;
  cursor: pointer; 
}
.horizontal-button:hover {
  background-color: #e0e0e0;  
}
.button-container {
  display: flex;
}
.horizontal-button {
  padding: 10px 20px;
  border: none;
  background-color:  #AF936D;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
}
.horizontal-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.horizontal-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.horizontal-button:not(:last-child) {
  border-right: 1px solid #ccc;
}
.tarjeta2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;    
    
}
.card {
  background-color: #70573c;
  width: 500px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Concert One;
  padding: 20px;
  border-radius: 10px;
  height: 100%; 
}
.card-title2 {
  font-size: 30px;
}
.contenedor2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 30px;
}
.tarjeta2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;    
}
.card {
  background-color: #70573c;
  width: 500px;
  height: 250px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Concert One;
  padding: 20px;
  border-radius: 10px;
}
.card-title {
  font-size: 30px;
}
.input {
  background-color: #af936d;
  border: #af936d;
  width: 310px;
  height: 45px;
  border-radius: 20px;
}
.input1 {
  background-color: #af936d;
  border: #af936d;
  width: 180px;
  height: 45px;
  border-radius: 20px;
}
.input2 {
  background-color: #af936d;
  border: #af936d;
  width: 112px;
  height: 45px;
  border-radius: 20px;
}
.container3 {
  text-align: center;
}
.input3 {
  background-color: #af936d;
  border: #af936d;
  width: 65px;
  height: 45px;
  border-radius: 20px;
}
.input4 {
  background-color: #af936d;
  border: #af936d;
  width: 65px;
  height: 45px;
  border-radius: 20px;
}
.input5 {
  background-color: #af936d;
  border: #af936d;
  width: 110px;
  height: 45px;
  border-radius: 20px;
}
.input0 {
  background-color: #af936d;
  border: #af936d;
  width: 270px;
  height: 45px;
  border-radius: 20px;
}
h6 {
  font-size: 22px;
}
.submit {
  background-color: #af936d;
  height: 45px;
  border-color: #af936d;
  border-radius: 20px;
}
.contenedor {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 30px; /* Ajustar la altura del contenedor */
}
.container {
  margin: 5px;
  padding: 5px;
}

.image-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
 
}

.image-with-text {
  width: 180px;
  height: 320px;
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.postre-img {
  height: 50%;
}

.postre-img > img {
  width: 100%;
}

.navbar-brand{
  font-family: Concert One;
}
.navbar-nav{
  font-family: Concert One;
}

.nav-nombre {
  color: white;
  font-family: Concert One;
  font-size: 30px;
}


/* agregando */



.btn{
    background-color: #af936d;
    color: white;
}


.btn:hover {
    background-color: #70573c;
}

.overflow-prueba {
    overflow: visible;
}

.btn-agregar {
    text-decoration:none;
}


.input-nombres {
    background-color: #af936d;
    border: #af936d;
    width: auto;
    height: 35px;
    border-radius: 20px;
    text-align: center;
}

.input-apellidos {
    background-color: #af936d;
    border: #af936d;
    width: auto;
    height: 35px;
    border-radius: 20px;
    text-align: center;
}

.input-dni{
    background-color: #af936d;
    border: #af936d;
    width: 110px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
}

.input-hora {
    background-color: #af936d;
    border: #af936d;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
}

.formulario{
    background-color: #926f4a;
    width: 350px;
    font-family: Concert One;
    padding: 20px;
    border-radius: 10px;
    
}

.formulario h5{
    padding-bottom: 10px;
}


.factura{
    background-color: #926f4a;
    width: 350px;
    font-family: Concert One;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

textarea {
    border: 2px solid  #926f4a; 
    border-radius: 10px; 
    background-color:  #af936d;
    border: 1px;
    padding: 5px;
    overflow-y: auto;
    max-height: 200px; 
    
}

.factura button{
    background-color: #af936d;
    color: white;
}

.factura button:hover {
    background-color: #70573c;
}

@media (max-width: 920px) {
    
    
  }